
@{
    ViewBag.Title = "confirmOT";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/layoutsite.css">

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>

<!-- Icon -->
<script src="https://kit.fontawesome.com/410ba3b69f.js"></script>

<!-- Load the plugin bundle. -->
<link rel="stylesheet" href="css/excel-bootstrap-table-filter-style.css" />

<div class="container">
    <nav class="navbar navbar-expand-sm"
         style="margin-bottom: 0px; border-bottom-width: 0px; padding-bottom: 5px; padding-right: 0px; padding-top: 0px; border-top-width: 0px;">
        <!-- Brand/logo -->
        <div class="navbar-nav mr-auto">
            <h3 style="margin-top: 27px; margin-bottom: 0px;">
                Danh Sách Chờ
                Phê Duyệt
            </h3>
        </div>

        <div class="navbar-nav justify-content-end"
             style="padding-top: 15px; border-top-width: 0px; margin-top: 7px;">
            <div class="dropdown">
                <button class=" dropdown-toggle btn btn-outline-primary " type="button"
                        data-toggle="dropdown"
                        style="padding-bottom: 14px; padding-top: 10px;">
                    Search
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" onclick="functionSearch('SearchByCancel',1)">Tìm kiếm từ chối</a></li>
                    <li><a class="dropdown-item" onclick="functionSearch('SearchBySuccess',2) ">Tìm lịch đăng ký thành công</a></li>
                </ul>
            </div>

            <form method="get" action="<%=request.getContextPath()%>/excel1">
                <input id="temp" style="display: none" name="temp" />
                <input id="year" style="display: none" name="year" />
                <input id="month" style="display: none" name="month" />
                <button id="btn-download" type="button" class="btn btn-outline-primary" onclick="exportExcel1()" style="height: 47px;width: 77px;">Export</button>
            </form>
            <button type="button" class="btn btn-outline-primary" onclick="Submit()">Submit</button>
        </div>
    </nav>

    <div class="row">
        <table class="table table-hover" id="table">
            <thead>
                <tr>
                    <th>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="select_all">
                            </label>
                        </div>
                    </th>
                    <th style="display:none ">ID</th>
                    <th class="filter">Họ Tên</th>
                    <th class="filter">Ngày đăng ký</th>
                    <th>T/gian bắt đầu</th>
                    <th>T/gian kết thúc</th>
                    <th>Lý do</th>
                    <th class="filter">Trạng Thái</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody id="allRegistration">
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <a onclick="PagitrationByMonth('PreviousByMonth','-1')">
                <i class="fas fa-fast-backward fa-2x" aria-hidden="true"
                   style="padding-right: 13px;"></i>
            </a> <a onclick="PagitrationByMonth('NextByMonth','1')">
                <i class="fas fa-fast-forward fa-2x" aria-hidden="true"
                   style="padding-right: 13px;"></i>
            </a>
        </div>
    </div>
</div>



<!--  popup hủy đăng ký  -->
<div id="myModalAdd1" class="modal fade" style="margin-top: 100px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 align="center" class="modal-title">Hủy Lịch Làm Việc</h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <!-- <form method="post" id="insert_form"> -->
                <input type="text" name="otId" id="otId" class="form-control" style="display:none ">
                <label>Lý Do: </label> <input type="text" name="reasonForCancel"
                                              id="reasonForCancel" class="form-control">
                <!-- </form> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="close" data-dismiss="modal"
                        onclick="cancelRegistration()">
                    Gửi
                </button>
                <button type="button" class="close" data-dismiss="modal">
                    Trở
                    Về
                </button>
            </div>
        </div>
    </div>
</div>




