<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="~/css/layout.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/js/sideBar.js"></script>
    <script src="~/js/menu.js"></script>
    <script src="~/js/lock.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/lock.css">
    <link rel="stylesheet" type="text/css" href="~/css/menu.css">
    <link rel="stylesheet" type="text/css" href="~/css/sideBar.css">
    <link rel="stylesheet" type="text/css" href="~/css/InforEmp.css">
    <script src="~/js/Employee.js"></script>
    <script src="~/js/listEmployee.js"></script>
    <script src="~/js/confirmOt.js"></script>

    <script src="https://kit.fontawesome.com/410ba3b69f.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link data-semver="0.4.2" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />

</head>
<body>
    @Html.Action("Menu", "Home")
    <section class="clearfix screen-mainmenu">
        <div class="container-fluid" style="margin-top: 120px;">
            <div class="row">
                <!-- LeftMain -->
                <div id="leftMain" class="col-sm-3 screen-leftmenu infor" style="position: fixed;border-right:dashed;background-color:turquoise;min-height:400px">
                    @Html.Action("InforEmp", "Home")
                </div>
                <!-- Rightmain -->
                <div id="rightMain" class="col-sm-9 screen-rightmenu" style="background-color:aliceblue;min-height:400px;float:right">
                    @RenderBody()
                </div>

            </div>
        </div>
    </section>
    <div>
        <nav class="navbar navbar-expand-sm " style="background-image: url('https://img2.thuthuatphanmem.vn/uploads/2018/11/30/hinh-nen-may-trang-dep_104324872.jpg'); top: 0px; position: fixed; width: 100%">
            <!-- Brand/logo -->
            <ul class="navbar-nav mr-auto ">
                <li>
                    <div id="mainMenu">
                        <span style="font-size: 30px; cursor: pointer" onclick="openNav()">&#9776;</span>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end" style="float:right">
                <li><div id="vnclock" align="center" style="overflow-x : hidden; margin-right:20px; margin-top:10px "></div></li>
                <li>
                    <a href="home">
                        <img src="~/images/logoPage2.png" alt="logo2.png" border="0" style="height:100px" onclick="homePage()" />
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</body>
</html>
