
@{
    ViewBag.Title = "getPost";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

    <div class="container" style="font-size:26px" >
        <h2 style="text-align:center">Thông Báo Công Ty</h2>
        <br />
        <br />
        <div class="row" style="margin-top:50px">
            <div class="col-md-4">Chủ đề : </div>
            <div class="col-md-8"> @ViewData["chude"] </div>
        </div>

        <div class="row" style="margin-top:30px">
            <div class="col-md-4">Nội dung : </div>
            <div class="col-md-8"> @ViewData["noidung"] </div>
        </div>

        <div class="row" style="margin-top:30px">
            <div class="col-md-4">Đường dẫn file : </div>
            <div class="col-md-8"><a href="@ViewData["link"]">@ViewData["link"] </a></div>
        </div>
    </div>

